
*{
    padding: 0px;
    margin: 0px;
}

html,body{
    background-image: url('https://cdn.discordapp.com/attachments/863386382977990676/863386657058586644/Ravenhearst09.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-position-x: 75%;
    background-attachment: fixed;
    background-color: #FF0085;
    background-size: cover;
    background-origin: border-box;
}

header{
    background-color: #00000039;
}

.title-text{
    font-size:200%;
    text-shadow: 0px 0px 10px #ff008469;
}

.card-columns{
    width: 80%;
}

.btn{
    background-color: #7289DA;
    color: white;
    
}
.btn:hover{
    background-color: #23272a;
    
}

.landing-text{
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;
    font-size: 200%;
    text-shadow: 2px 2px 5px #7289DA;
    
}

.landing-text em{
    font-size: 120%;
}

.landing-text .btn{
    font-size: 90%;
}

footer{
    background-color: #00000039;
    padding-inline: 20px;
    position: absolute;
    bottom: 0px;
}
.footer-text{
    font-size: smaller;
    color: whitesmoke;
}

/* COMMANDS.HTML */
.input-group{
max-width: 50vw;
}

.card{
    margin: 20px;
    max-width: 750px;
    background-color: #23272adc !important;
} 

@media (max-width: 991px) {
    .input-group{
        max-width: 80vw;
    }

}

/* FANART.HTML */
.fanart{
    transform: scale(1);
    transition: all 0.25s ease;
    cursor:grab;
}
.fanart:hover{
    transform: scale(1.05);
    box-shadow:0px 0px 10px #ff008569;
}

.fanart .card-img-top{
    border-radius: 5px;
}
