
*{
    padding: 0px;
    margin: 0px;
}

html,body{
    background-image: url('images/Ravenhearst09.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-position-x: 75%;
    background-attachment: fixed;
    background-color: #FF0085;
    background-size: cover;
    background-origin: border-box;
}

.title-text{
    font-size:200%;
    text-shadow: 0px 0px 10px #ff008469;
}